<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Complaints</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/forms.css"
      th:href="@{/css/forms.css}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="navbar has-shadow is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" th:href="@{/}">
          <h1 class="title is-5">Complaint Tracker App</h1>
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a th:href="@{/complaints/list}" class="navbar-item">
            View Complaints
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <form th:action="@{/logout}" method="POST">
              <button class="button is-info is-light" type="submit">
                Logout
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <!-- Hero  -->

    <!-- Hero -->
    <section class="hero is-small is-link">
      <div class="hero-body">
        <!-- <div class="container"> -->
        <h1 class="title">
          Register a Complaint
        </h1>
        <h2 class="subtitle">
          Use the form below to register your complaint with our executive.
        </h2>
        <!-- </div> -->
      </div>
    </section>

    <section class="form-section">
      <div class="form-div">
        <form action="#"
          th:action="@{/complaints/processFormAfterAdd}"
          th:object="${complaint}"
          method="post"
        >
          <p class="subtitle">
            Please fill the following details and submit the form.
          </p>
          <input type="hidden" th:field="*{id}" />

          <div class="field">
            <label class="label">Title(*)</label>
            <div class="control">
              <input
                class="input"
                type="text"
                th:field="*{title}"
                placeholder="Complaint Title" required minlength="5"
              />
            </div>
            <p style="color:red" th:if="${#fields.hasErrors('title')}"  th:errors="*{title}">Error in tile</p>

          </div>

          <div class="field">
            <label class="label">Message(*)</label>
            <div class="control">
              <textarea
                class="textarea"
                th:field="*{body}"
                placeholder="Elaborate your complaint" required minlength="10"
              ></textarea>
            </div>
            <p style="color:#ff0000" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Error in body</p>
          </div>

          <!--        <input type="hidden" value="Unresolved" th:field="*{status}"/>-->

          <select th:field="*{status}" style="display: none;">
            <option th:value="Unresolved" th:text="Unresolved"></option>
            <option th:value="Forwarded" th:text="Forwarded"></option>
            <option th:value="Resolved" th:text="Resolved"></option>
          </select>

          <button class="button is-link" type="submit">Submit</button>
        </form>
      </div>
    </section>
  </body>
</html>
