<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="../static/css/forms.css"
    th:href="@{/css/forms.css}"
  />
  <head>
    <meta charset="UTF-8" />
    <title>Confirmation</title>
  </head>
  <body>
    <h1>You change has been made</h1>
    <hr />

    <a th:href="@{/complaints/list}">Back to Complaints</a>
  </body>
</html>
